<div class="m-5">
<h1 class="text-center">Soccer Field Details</h1>

<div class="card text-center mb-5">
  <div class="card-body mb-3 p-0">
  <img src="{{imageUrl}}" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{fieldname}}</h5>
    <p>{{address}}</p>
    <p>{{hours}}</p>
    <p>{{contact}}</p>
    <p>{{reviews}}</p>
    <a href="/fields/">All Soccer Fields</a>
    <a href="/fields/detail/edit/{{_id}} ">Edit Soccer Field</a>
  </div>
  <div class="mb-2">
  <form action="/fields/{{_id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  </div>
</div>
</div>